.layout {
  display: flex;
  box-sizing: border-box;
  &-left {
    width: 24%;
    height: 100vh;
    background-color: #ffeae8;
    position: sticky;
    top: 0; // 固定在顶部
  }
  &-right {
    width: 76%;
    background-color: #e5e5ff;
  }
}
